<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Movie #<%= @movie.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/movies" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">

      </div>

      <div class="col">
        <a href="/delete_movie/<%= @movie.id %>" class="btn btn-block btn-outline-secondary">
          Delete movie
        </a>
      </div>
    </div>
    <div>
      <h1>
        Edit movie #<%= @movie.id %>
      </h1>

      <hr>

      <form action="/modify_movie/<%= @movie.id %>" method="post">
      
        <div class="form-group">
          <label for="title">
            Title
          </label>

          <input type="text" id="title" name="qs_title" class="form-control" value="<%= @movie.title %>">

        </div>
            
        <div class="form-group">
          <label for="year">
            Year
          </label>

          <input type="text" id="year" name="qs_year" class="form-control" value="<%= @movie.year %>">

        </div>
            
        <div class="form-group">
          <label for="duration">
            Duration
          </label>

          <input type="text" id="duration" name="qs_duration" class="form-control" value="<%= @movie.duration %>">

        </div>
            
        <div class="form-group">
          <label for="description">
            Description
          </label>
          <textarea id="description" name="qs_description" class="form-control" rows="3"><%= @movie.description %></textarea>

        </div>
            
        <div class="form-group">
          <label for="image_url">
            Image Url
          </label>

          <input type="text" id="image_url" name="qs_image_url" class="form-control" value="<%= @movie.image_url %>">

        </div>
            
        <div class="form-group">
          <label for="director_id">
            Director
          </label>

          <input type="text" id="director_id" name="qs_director_id" class="form-control" value="<%= @movie.director_id %>">

        </div>
            
        <button class="btn btn-block btn-outline-secondary">
          Update movie
        </button>
      </form>

      <hr>
    </div>
    <table border="1">
      <tr>
        <th>
          Title
        </th>

        <th>
          Year
        </th>
        
        <th>
          Duration
        </th>

        <th>
          Description
        </th>


        <th>
          Image Url
        </th>

        <th>
          Director
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>
      </tr>
      <tr>
        <td>
          <%= @movie.title %>
        </td>

        <td>
          <%= @movie.year %>
        </td>

        <td>
          <%= @movie.duration %>
        </td>
        <td>
          <%= @movie.description %>
        </td>
        <td>
          <img src="<%= @movie.image_url %>">
        </td>
        <td>
          <%= @movie.director.name %>
        </td>
        <td>
          <%= time_ago_in_words(@movie.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(@movie.updated_at) %> ago
        </td>
      </tr>
    </table>
  </div>
</div>
<div>
  <h3>Cast</h3>
  <table border="1">
      <tr>
        <th>
          Name
        </th>

        <th>
          Dob
        </th>

        <th>
          Image Url
        </th>

        <th>
          Bio
        </th>
      </tr>
    <% @movie.cast.each do |actor| %>
      <tr>
        <td>
          <%= actor.name %>
        </td>
        <td>
          <%= actor.dob %>
        </td>
        <td>
          <img src="<%= actor.name %>">
        </td>
        <td>
          <%= actor.bio %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<hr>

  <h3>Characters</h3>
  <table border="1">
      <tr>
        <th>
          Name
        </th>

        <th>
          Actor
        </th>

      </tr>
    <% @movie.characters.each do |character| %>
      <tr>
        <td>
          <%= character.name %>
        </td>
        <td>
          <%= character.actor.name %>
        </td>
      </tr>
    <% end %>
      <hr>
  </table>
